In [27]:
import numpy as np
a = np.load('labels.npy')
print(len(a))

150

In [57]:
import csv
import random
import numpy as np
import os

with open('td.tsv', "r", encoding="utf-8") as f:
    reader = csv.reader(f,delimiter = "\t")
    texts = []
    labels = []
    for row in reader:
        text = row[0]
        label = row[1]
        if text == 'text':
            continue
        texts.append(text)
        labels.append(label)

num_all = len(labels)
label_list = list(np.unique(np.array(labels)))
labels = np.array(labels)
res_ids = []
for label in label_list:
    num = int(len(labels[labels == label]) / 2)
    pos = list(np.where(labels == label)[0])
    res_ids.extend(random.sample(pos, num))
    
random.shuffle(res_ids)

res_texts = []
res_labels = []
for idx in res_ids:
    res_texts.append(texts[idx])
    res_labels.append(labels[idx])
    

data_path = 'ori_dev.tsv'
with open(data_path, "w", encoding="utf-8") as f:
    writer = csv.writer(f, delimiter="\t")
    writer.writerow(['text', 'label'])
    for text, label in zip(res_texts, res_labels):
        writer.writerow([text, label])   

test_texts = []
test_labels = []
test_ids = []
for idx in range(num_all):
    if idx not in res_ids:
        test_ids.append(idx)
        
random.shuffle(test_ids)
for idx in test_ids:
    test_texts.append(texts[idx])
    test_labels.append(labels[idx])
    
data_path = 'ori_test.tsv'
with open(data_path, "w", encoding="utf-8") as f:
    writer = csv.writer(f, delimiter="\t")
    writer.writerow(['text', 'label'])
    for text, label in zip(test_texts, test_labels):
        writer.writerow([text, label])

In [41]:
x = ['1','2','3','3']
print(round(7 * 0.5))

4

In [4]:
import csv
import random
import numpy as np
import os
texts = []
labels = []
with open('train.tsv', "r", encoding="utf-8") as f:
    reader = csv.reader(f,delimiter = "\t")

    for row in reader:
        text = row[0]
        label = row[1]
        if text == 'text':
            continue
        texts.append(text)
        labels.append(label)
        
with open('dev.tsv', "r", encoding="utf-8") as f:
    reader = csv.reader(f,delimiter = "\t")

    for row in reader:
        text = row[0]
        label = row[1]
        if text == 'text':
            continue
        texts.append(text)
        labels.append(label)
        
with open('test.tsv', "r", encoding="utf-8") as f:
    reader = csv.reader(f,delimiter = "\t")

    for row in reader:
        text = row[0]
        label = row[1]
        if text == 'text':
            continue
        texts.append(text)
        labels.append(label)

with open('ori.tsv', "w", encoding="utf-8") as f:
    writer = csv.writer(f, delimiter="\t")
    writer.writerow(['text', 'label'])
    for text, label in zip(texts, labels):
        writer.writerow([text, label])  
        
print(len(texts))
print(len(labels))
print(len(np.unique(np.array(labels))))
# with open('ori.tsv', "r", encoding="utf-8") as f:
#     reader = csv.reader(f,delimiter = "\t")

#     for row in reader:
#         text = row[0]
#         label = row[1]
#         if text == 'text':
#             continue
#         texts.append(text)
#         labels.append(label)
# label_list = np.array(np.unique(np.array(labels)))
# labels = np.array(labels)
# print(len(label_list))
# print(len(labels))
# for label in label_list:
#     print(len(labels[labels == label]))

23700
23700
151

In [7]:
x = np.load('labels.npy')
if 'oos' in x:
    print('a')
else:
    print('b')

b

In [8]:
import csv
import random
import numpy as np
import os
import pandas as pd

with open('ori.tsv', "r", encoding="utf-8") as f:
    reader = csv.reader(f,delimiter = "\t")
    texts = []
    labels = []
    for row in reader:
        text = row[0]
        label = row[1]
        if text == 'text':
            continue
        texts.append(text)
        labels.append(label)
        
df = pd.DataFrame(l, columns=['text', 'label'])
print(df[:10])
# random_state = 0                                   
# x = texts
# y = labels
                        
# from sklearn.model_selection import train_test_split#分割数据集
# X_train, X_test, y_train, y_test = train_test_split(x, y, stratify=yl, test_size=0.25)
# print(X_train)

# label_list = list(np.unique(np.array(labels)))
# print(len(label_list))
# res_ids = []
# for label in label_list:
#     if label == 'oos':
#     else:
#         num = len(labels[labels == label])
#         pos = list(np.where(labels == label)[0])
#         res_ids.extend(random.sample)
# num_all = len(labels)
# label_list = list(np.unique(np.array(labels)))
# labels = np.array(labels)
# res_ids = []
# for label in label_list:
#     num = int(len(labels[labels == label]) / 2)
#     pos = list(np.where(labels == label)[0])
#     res_ids.extend(random.sample(pos, num))
    
# random.shuffle(res_ids)

# res_texts = []
# res_labels = []
# for idx in res_ids:
#     res_texts.append(texts[idx])
#     res_labels.append(labels[idx])
    

# data_path = 'ori_dev.tsv'
# with open(data_path, "w", encoding="utf-8") as f:
#     writer = csv.writer(f, delimiter="\t")
#     writer.writerow(['text', 'label'])
#     for text, label in zip(res_texts, res_labels):
#         writer.writerow([text, label])   

# test_texts = []
# test_labels = []
# test_ids = []
# for idx in range(num_all):
#     if idx not in res_ids:
#         test_ids.append(idx)
        
# random.shuffle(test_ids)
# for idx in test_ids:
#     test_texts.append(texts[idx])
#     test_labels.append(labels[idx])
    
# data_path = 'ori_test.tsv'
# with open(data_path, "w", encoding="utf-8") as f:
#     writer = csv.writer(f, delimiter="\t")
#     writer.writerow(['text', 'label'])
#     for text, label in zip(test_texts, test_labels):
#         writer.writerow([text, label])

KeyboardInterrupt:

In [9]:
import pandas as pd
train = pd.read_csv('original_data/train.tsv',sep="\t")
valid = pd.read_csv('original_data/dev.tsv',sep="\t")
test = pd.read_csv('original_data/test.tsv',sep="\t")

l1 = [[x,y] for x,y in zip(train['text'],train['label'])]
l2 = [[x,y] for x,y in zip(valid['text'],valid['label'])]
l3 = [[x,y] for x,y in zip(test['text'],test['label']) ]
df = pd.DataFrame(l1+l2+l3, columns=['text', 'label'])

l1 = [[x,y] for x,y in zip(train['text'],train['label']) if y != 'oos']
l2 = [[x,y] for x,y in zip(valid['text'],valid['label']) if y != 'oos']
l3 = [[x,y] for x,y in zip(test['text'],test['label']) if y != 'oos']

df_seen = pd.DataFrame(l1+l2+l3, columns=['text', 'label'])
df_seen

                                                    text         label
0      what expression would i use to say i love you ...     translate
1      can you tell me how to say 'i do not speak muc...     translate
2      what is the equivalent of, 'life is good' in f...     translate
3      tell me how to say, 'it is a beautiful morning...     translate
4      if i were mongolian, how would i say that i am...     translate
...                                                  ...           ...
22495                         find out what song this is     what_song
22496         what number of days do i have for vacation   pto_balance
22497           i'd like you to check on my credit score  credit_score
22498               "which things are wanted to remember      reminder
22499       i'm going to paris, what plug type do i need     plug_type

[22500 rows x 2 columns]

In [10]:
df_seen['label'].value_counts()
len(df_seen['label'].unique())
# label_list = np.unique(np.array(df_seen['label']))
# print(len(label_list))

150

In [11]:
from sklearn.model_selection import train_test_split
random_state = 0
df_train, df_dev_test = train_test_split(df_seen, test_size=0.4, stratify=df_seen.label, shuffle=True, random_state=random_state)
df_train.to_csv('train.tsv', sep='\t', index=False)
df_train

,text,label
19039,walk me through the steps involved in changing...,oil_change_how
8454,what kind of fuel does my vehicle run on,gas_type
4210,i lost my luggage coming from new york city on...,lost_luggage
20143,what to do if i lost my luggage,lost_luggage
7187,is it possible to use sausage instead of hot dog,ingredient_substitution
...,...,...
17512,how can i claim my rewards for my visa card,redeem_rewards
18381,how do i get my paycheck into direct deposit a...,direct_deposit
2262,it's either of them,maybe
8400,what kind of gasoline can this car take,gas_type
7081,i need help since someone stole my card,report_lost_card

In [12]:
df_dev, df_test = train_test_split(df_dev_test, test_size=0.75, stratify=df_dev_test.label, shuffle=True, random_state=random_state)
df_dev.to_csv('dev.tsv', sep='\t', index=False)
df_dev

                                                    text                 label
5440                   give me the apr for my mastercard                   apr
2186   please inform me of the types of subjects are ...    what_can_i_ask_you
5436                               review of my card apr                   apr
10390  i want to report fraudulent activity on my vis...          report_fraud
4931   please put washing the dishes on my list of ta...      todo_list_update
...                                                  ...                   ...
8352     are there meeting rooms available between 10-11      schedule_meeting
22172  i'd like to cancel my reservation for 5 at hos...    cancel_reservation
6202   i need someone to look at my car because my ch...  schedule_maintenance
21074         if i travel abroad, do i need vaccinations              vaccines
17300                           how should i address you     what_is_your_name

[2250 rows x 2 columns]

In [13]:
l1_oos = [[x,y] for x,y in zip(train['text'],train['label']) if y == 'oos']
l2_oos = [[x,y] for x,y in zip(valid['text'],valid['label']) if y == 'oos']
l3_oos = [[x,y] for x,y in zip(test['text'],test['label']) if y == 'oos']
df_oos = pd.DataFrame(l1_oos+l2_oos+l3_oos, columns=['text', 'label'])
df_oos

                                                   text label
0     which came first; greek mythology or roman myt...   oos
1     can you check how many steps i have walked in ...   oos
2                   tell me something about linkin park   oos
3               how many people still live on greenland   oos
4                 what is a good home remedy for a rash   oos
...                                                 ...   ...
1195  what time did i get the last text message i re...   oos
1196  send me live feed of the pre-game prediction s...   oos
1197  find out how many latin scholars there are at ...   oos
1198  tell me about the earthquake in california tha...   oos
1199                      what are apartment prices now   oos

[1200 rows x 2 columns]

In [14]:
df_test = df_test.append(df_oos)
df_test

                                                    text               label
20460                       does cielo have good reviews  restaurant_reviews
2161                                   how can i use you  what_can_i_ask_you
18106     do you think our lives have purpose or meaning     meaning_of_life
15868                    play the song called baby shark          play_music
14284             i need to know how jumping a car works          jump_start
...                                                  ...                 ...
1195   what time did i get the last text message i re...                 oos
1196   send me live feed of the pre-game prediction s...                 oos
1197   find out how many latin scholars there are at ...                 oos
1198   tell me about the earthquake in california tha...                 oos
1199                       what are apartment prices now                 oos

[7950 rows x 2 columns]

In [15]:
from sklearn.utils import shuffle
df_test = shuffle(df_test)
df_test.to_csv('test.tsv', sep='\t', index=False)
df_test

                                                    text                label
11042  find the minimum due on my peco energy bill fo...          min_payment
19121                            how do you show my name            user_name
652           see if you can purchase a spacesuit online                  oos
7325   i need an alarm to go off tomorrow at five fif...                alarm
445               what is the name of the 13th president                  oos
...                                                  ...                  ...
16040                    i want to set up direct deposit       direct_deposit
9379   does pizzeria delfina in san francisco take re...  accept_reservations
8758   what is the exchange to yen if i have 100 us d...        exchange_rate
11017  what is the minimum i have to pay on my chase ...          min_payment
10798                              look me up on the map     current_location

[7950 rows x 2 columns]

In [16]:
split_texts = df['text'].apply(lambda l:l.split())
text_lens = [len(x) for x in split_texts]
print(max(text_lens))

28

In [7]:
split_all_texts = df['text'].apply(lambda l:l.split())
text_lens = [len(x) for x in split_texts]
print(sum(text_lens) / len(text_lens))

8.31535864978903

In [8]:
df_test['label'].value_counts()

pto_used                  45
tire_change               45
measurement_conversion    45
reminder_update           45
do_you_have_pets          45
                          ..
rewards_balance           45
travel_alert              45
current_location          45
rollover_401k             45
no                        45
Name: label, Length: 150, dtype: int64

In [2]:
import pandas as pd
train = pd.read_csv('original_data/train.tsv',sep="\t")
valid = pd.read_csv('original_data/dev.tsv',sep="\t")
test = pd.read_csv('original_data/test.tsv',sep="\t")

l1 = [[x,y] for x,y in zip(train['text'],train['label']) if y != 'oos']
l2 = [[x,y] for x,y in zip(valid['text'],valid['label']) if y != 'oos']
l3 = [[x,y] for x,y in zip(test['text'],test['label']) if y != 'oos']

df = pd.DataFrame(l1+l2+l3, columns=['text', 'label'])
df['label'].value_counts()
# len(df['label'].unique())

change_user_name    150
direct_deposit      150
book_flight         150
pay_bill            150
calculator          150
                   ...
recipe              150
nutrition_info      150
order_status        150
food_last           150
update_playlist     150
Name: label, Length: 150, dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
random_state = 0
df_train, df_dev_test = train_test_split(df, test_size=0.4, stratify=df.label, shuffle=True, random_state=random_state)
df_train.to_csv('train.tsv', sep='\t', index=False)
df_train

,text,label
19039,walk me through the steps involved in changing...,oil_change_how
8454,what kind of fuel does my vehicle run on,gas_type
4210,i lost my luggage coming from new york city on...,lost_luggage
20143,what to do if i lost my luggage,lost_luggage
7187,is it possible to use sausage instead of hot dog,ingredient_substitution
...,...,...
17512,how can i claim my rewards for my visa card,redeem_rewards
18381,how do i get my paycheck into direct deposit a...,direct_deposit
2262,it's either of them,maybe
8400,what kind of gasoline can this car take,gas_type
7081,i need help since someone stole my card,report_lost_card

In [5]:
df_dev, df_test = train_test_split(df_dev_test, test_size=0.75, stratify=df_dev_test.label, shuffle=True, random_state=random_state)
df_dev.to_csv('dev.tsv', sep='\t', index=False)
df_dev

                                                    text                 label
5440                   give me the apr for my mastercard                   apr
2186   please inform me of the types of subjects are ...    what_can_i_ask_you
5436                               review of my card apr                   apr
10390  i want to report fraudulent activity on my vis...          report_fraud
4931   please put washing the dishes on my list of ta...      todo_list_update
...                                                  ...                   ...
8352     are there meeting rooms available between 10-11      schedule_meeting
22172  i'd like to cancel my reservation for 5 at hos...    cancel_reservation
6202   i need someone to look at my car because my ch...  schedule_maintenance
21074         if i travel abroad, do i need vaccinations              vaccines
17300                           how should i address you     what_is_your_name

[2250 rows x 2 columns]

In [6]:
df_test.to_csv('test.tsv', sep='\t', index=False)
df_test

                                                    text                 label
20460                       does cielo have good reviews    restaurant_reviews
2161                                   how can i use you    what_can_i_ask_you
18106     do you think our lives have purpose or meaning       meaning_of_life
15868                    play the song called baby shark            play_music
14284             i need to know how jumping a car works            jump_start
...                                                  ...                   ...
5642   i need to know what is currently on my calenda...              calendar
19759        when was the last time my car was worked on      last_maintenance
14146   contact avis and see if they have cars available            car_rental
6220   where can i find a place where i can schedule ...  schedule_maintenance
2994                             who brought you to life          who_made_you

[6750 rows x 2 columns]